*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --index: calc(1vw + 1vh);
    --transition: (1.5s cubic-bezier(.05, .5, 0, 1));
}
@font-face {
    font-family: kamerik-3d;
    src: url('/fonts/kamerik205-heavy.woff2');
    font-weight: 900;
}
@font-face {
    font-family: merriweather-italic-3d;
    src: url('/fonts/merriweather-regular-italic.woff2');
}
body{
    background-color: black;
    color: white;
    font-family: kamerik-3d;
}
.layers{
    perspective: 1000px;
    overflow: hidden;
}
.layers-container{
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}
.layers-item{
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer-1{
    transform: translateZ(-55px);
    scale: 1.06;
}
.layer-1-2{
    transform: translateZ(30px);
    scale: .95;
}
.layer-2{
    transform: translateZ(80px);
    scale: .8;
}
.layer-2 img{
    position: absolute;
    scale: .4;
    left: -20vw;
    top: -30vh;
}
.layer-3{
    transform: translateZ(180px);
    scale: .9;
}
.layer-4{
    transform: translateZ(300px);
    scale: .8;
}
h1,p{
    font-size: calc(var(--index) * 2.9);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -.15);
    line-height: .95em;
}
p{
    font-family: merriweather-italic-3d;
    letter-spacing: normal;
    font-size: calc(var(--index) * 1);
    line-height: 2;
}
.layer-5{
    transform: translateZ(380px);
    pointer-events: none;
}